.button {
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 1s ease;
}

.button_type_main {
  width: 577px;
  height: 161px;
  padding-left: 120px;
}

.button:hover {
  opacity: 0.6;
}

.button_disabled {
  opacity: 0.2;
  cursor: not-allowed;
  pointer-events: none;
}

@media all and (max-width: 2047px) {
  .button_type_main {
    width: 288px;
    height: 80px;
    padding-left: 60px;
  }
}
