.footer {
  position: fixed;
  top: 1486px;
  left: 139px;
  z-index: 4;
}

.footer__logo {
  width: 114px;
  height: 24px;
  background-color: transparent;
  background-image: url(../images/logo.svg);
  background-size: cover;
}

@media all and (max-width: 2047px) {
  .footer {
    position: fixed;
    top: 743px;
    left: 70px;
  }

  .footer__logo {
    width: 57px;
    height: 12px;
  }
}
