.main-content {
  background: url('../images/bg-full.jpg') top left -2048px /cover no-repeat;
}

.main-content__subtitle {
  line-height: 49px;
  margin-left: 569px;
  margin-bottom: 53px;
}

.main-content__title {
  font-size: 191px;
  line-height: 120px;
  color: var(--main-text-color);
  letter-spacing: 21px;
  margin-bottom: 183px;
  margin-left: 569px;
  /* margin-left: 707px -138px; */
}

.main-content__info {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-areas:
  'card-big card-small'
  'card-big button';
  gap: 71px 90px;
  margin-left: 306px;
  /* margin-bottom: 198px; */
  justify-items: end;
}

.main-content__button {
  background-image: url(../images/btn3.png);
  grid-area: button;
}

@media all and (max-width: 1024px) {
  .main-content__subtitle {
    line-height: 25px;
    margin-left: 284px;
    margin-bottom: 26px;
  }

  .main-content__title {
    font-size: 80px;
    line-height: 60px;
    letter-spacing: 11px;
    margin-bottom: 91px;
    margin-left: 285px;
    /* margin-left: 707px -138px; */
  }

  .main-content__info {
    gap: 35px 45px;
    margin-left: 153px;
    /* margin-bottom: 99px; */
    margin-right: 13px;
  }
}

.main-content__animation-bottle {
  width: 479px;
  height: 1395px;
  position: absolute;
  top: 141px;
  left: 92px;
  z-index: 2;
  background: url(../images/bottle.png) center / cover no-repeat;
}

.main-content__animation-bubble {
  width: 285px;
  height: 285px;
  position: absolute;
  top: 1406px;
  left: 367px;
  background: url(../images/bubble-blue.png) center / cover no-repeat;
  z-index: 3;
}

.main-content__animation-bubble-1 {
  width: 149px;
  height: 149px;
  position: absolute;
  top: 1107px;
  left: 50px;
  background: url(../images/bubble-pink-light.png) center / cover no-repeat;
  z-index: 3;
}

.main-content__animation-bubble-2 {
  width: 123px;
  height: 123px;
  position: absolute;
  top: 1182px;
  left: 484px;
  background: url(../images/bubble-blue-light.png) center / cover no-repeat;
  z-index: 1;
}

.main-content__animation-bubble-3 {
  width: 66px;
  height: 66px;
  position: absolute;
  top: 907px;
  left: 21px;
  background: url(../images/bubble-blue-light.png) center / cover no-repeat;
}

.main-content__animation-bubble-4 {
  width: 225px;
  height: 225px;
  position: absolute;
  top: 634px;
  left: 373px;
  background: url(../images/bubble-pink-light.png) center / cover no-repeat;
  z-index: 1;
}

.main-content__animation-bubble-5 {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 425px;
  left: 154px;
  background: url(../images/bubble-pink.png) center / cover no-repeat;
  z-index: 1;
}

.main-content__animation-bubble-6 {
  width: 136px;
  height: 136px;
  position: absolute;
  top: 311px;
  left: 368px;
  background: url(../images/bubble-blue-light.png) center / cover no-repeat;
  z-index: 3;
}

.main-content__animation-bubble-7 {
  width: 74px;
  height: 74px;
  position: absolute;
  top: 131px;
  left: 395px;
  background: url(../images/bubble-blue-light.png) center / cover no-repeat;
  z-index: 1;
}

@media all and (max-width: 1024px) {
  .main-content__animation-bottle {
    width: 240px;
    height: 697px;
    top: 70px;
    left: calc( 46px);
  }

  .main-content__animation-bubble {
    width: 142px;
    height: 142px;
    top: 703px;
    left: calc( 183px);
  }

  .main-content__animation-bubble-1 {
    width: 75px;
    height: 75px;
    top: 553px;
    left: calc( 25px);
  }

  .main-content__animation-bubble-2 {
    width: 61px;
    height: 61px;
    top: 591px;
    left: calc( 242px);
  }

  .main-content__animation-bubble-3 {
    width: 33px;
    height: 33px;
    top: 453px;
    left: calc( 10px);
  }

  .main-content__animation-bubble-4 {
    width: 112px;
    height: 112px;
    top: 317px;
    left: calc( 186px);
  }

  .main-content__animation-bubble-5 {
    width: 34px;
    height: 34px;
    top: 212px;
    left: calc( 77px);
  }

  .main-content__animation-bubble-6 {
    width: 68px;
    height: 68px;
    top: 155px;
    left: calc( 184px);
  }

  .main-content__animation-bubble-7 {
    width: 37px;
    height: 37px;
    top: 65px;
    left: calc( 197px);
  }
}
